.section--findTour {
  background: #fff url('../img/tour-section.jpg') no-repeat center;
  background-size: cover;
}
.place {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px auto;
  width: 100%;
}
.place-item {
  position: relative;
  margin-left: 10px;
  max-width: 255px;
  width: 100%;
  text-align: center;
  height: 240px;
  border-radius: 50%;
  line-height: 240px;
  text-transform: uppercase;
  font-family: 'BigNoodleTitling', sans-serif;
  color: #fff;
  margin-bottom: 20px;
  font-size: 33px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.place-item:last-child {
  margin-left: 0;
}
